*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/codeStyle
/.idea/copyright
/.idea/complier.xml
/.idea/misc.xml
/.idea/modules.xml
/idea/gradle.xml
/idea/vcs.xml
/idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/